<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/this-update-brought-out-lots-of-cars-i-like-it-so-far-ill-v0-ukutcy6kfred1.jpg?width=3840&format=pjpg&auto=webp&s=5e66f19c16c38c979950bf6a40df071bef3be76d">
  <div class="container text-center">
    <h1>Here is your <%=@car.brand%> <%=@car.model%></h1>
  </div>

  <div class="card-category"
    <h1>Check out the details of your dream car.</h1>
    <p><%= @car.brand %></p>
    <p><%= @car.model %></p>
    <p><%= @car.year %></p>
    <p><%= @car.fuel %></p>
  </div>
</div>
